langchain-groq
langchain-google-genai
PyPDF2
flask
dotenv-python
faiss-cpu
tiktoken
langchain==0.3.7 
langchain-core==0.3.21 
langchain-openai==0.2.10 
langchain-community==0.3.7 
langchain-huggingface==0.1.2